.create-schedule-button {
    margin-left: 100px;
}

.month-version-button {
    margin-left: 100px;
}

.week-version-button {
    margin-left: 100px;
}

.when-to-meet-button {
    margin-left: 100px;
}

.when-to-meet-calendars {
    display: flex;
    justify-content: space-around;
    /* 캘린더 사이에 공간을 고르게 분배 */
    align-items: flex-start;
    /* 캘린더들이 위쪽 정렬되도록 */
    gap: 20px;
    /* 두 캘린더 사이의 간격 */
    margin-top: 20px;
}

.when-to-meet-calendars .calendar {
    flex: 1;
    /* 캘린더가 동일한 비율로 크기를 차지하도록 */
    min-width: 400px;
    /* 캘린더 최소 너비 설정 */
}

.add-event-button .abutton {
    padding: 10px 20px;
    margin: 10px 5px;
    /* 버튼 사이 간격 추가 */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* 마우스 호버 시 배경색 변환 */
    width: 100px;
    /* 버튼 크기 고정 */
}

.cancel-button .cbutton {
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px;
}

.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* 반투명 검은색 배경 */
    z-index: 999;
    /* 팝업 창 뒤에 위치하도록 설정 */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* 배경 위에 팝업이 위치하도록 설정 */
}

.rbc-time-header-content {
    display: flex;

}

.rbc-row rbc-time-header-cell {
    position: absolute;
    z-index: 2;
}

.rbc-allday-cell {
    position: relative;
    z-index: 1;
    pointer-events: none;
    display: none;
}